h1 {
    text-align: center;
}

#image-container > img{
    width: 70%;
    margin-left: 15%;
}

div#search {
    width: 70%;
    margin-left: 15%;
}

div#search input {
    padding: unset;
    width: 99%;
}


#search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}